body{
    font: 14px sans-serif;
}


.container{
    width: 360px;
    padding: 20px;
    margin-top: 20px;
}
        
form{
    padding: 20px;
    margin-top: 20px;
    border: 1px
    solid #eee; 
    background: #f7f7f7;
}
